.cart {
	margin-top: 1rem;
}

.cart p {
	font-size: 1.5rem;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	margin: 1rem 0;
}

.button-wrapper {
	display: flex;
	justify-content: flex-end;
}
