.cart {
	margin: 1rem 0;
}

.empty-cart {
	padding: 3rem;
	text-align: center;
	font-size: 1.5rem;
	color: #43474d;
}

.empty-cart p {
	font-size: 1rem;
}
.empty-cart a {
	color: #4c2c93;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	margin: 1rem 0;
}

.total p {
	font-size: 1.5rem;
}

.button-wrapper {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 425px) {
	.total p,
	.empty-cart {
		font-size: 1.2rem;
	}

	.button-wrapper {
		justify-content: center;
	}
}
