.cart {
	margin: 1rem 0;
}

.cart p {
	font-size: 1.5rem;
}

.cart > p {
	font-size: 1.75rem;
	font-weight: bold;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	margin: 1rem 0;
}

.button-wrapper {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 425px) {
	.total p,
	.cart p {
		font-size: 1.2rem;
	}

	.button-wrapper {
		justify-content: center;
	}
}
