.home {
	text-align: center;
	margin: 1rem auto;
}

.home h2 {
	font-size: 2em;
}

.products {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 16px 24px;
}

.products h3 {
	font-size: 1.5em;
}

.interest-products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	gap: 8px;
}

.newest-products-grid {
	display: grid;
	grid-auto-columns: 1fr;
	align-items: center;
	gap: 8px;
}

@media (max-width: 425px) {
	.home h2 {
		font-size: 1.5em;
	}

	.products {
		grid-template-columns: 100%;
	}

	.products h3 {
		font-size: 1em;
	}

	.newest-products-grid,
	.interest-products-grid {
		grid-auto-columns: 12rem;
		grid-auto-flow: column;
		overflow-x: scroll;
	}
}
